# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~

# Eclipse
.settings/
.project
.classpath
.factorypath

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS
.DS_Store
Thumbs.db
*.log
*.tmp

# Env
.env.local
.env.prod

# Docker
mysql/data/
redis/data/
*.jar

# Logs
logs/
*.log
