DEV_CONFIG_USERNAME=nacos
DEV_CONFIG_PASSWORD=nacos

TEST_CONFIG_USERNAME=nacos
TEST_CONFIG_PASSWORD=nacos

PROD_CONFIG_USERNAME=admin
PROD_CONFIG_PASSWORD=changeme

BACKUP_SCHEDULE=02:00
BACKUP_RETENTION_DAYS=30
